vEnv
logs
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.exe
*.joblib
*.pkl

pranjul*
Sentinel*


.env
*.pem
*.lic
main.dist
main.build

*.csv
*.xls
*.xlsx
*.csv

!assets/model_coordinalte_excels/**
!assets/model_coordinalte_excels/**/*.csv
!assets/model_coordinalte_excels/**/*.xls
!assets/model_coordinalte_excels/**/*.xlsx